<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mybatis-spring="http://mybatis.org/schema/mybatis-spring"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://mybatis.org/schema/mybatis-spring http://mybatis.org/schema/mybatis-spring-1.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd">

	<!-- 扫描Mapper接口 -->
	<mybatis-spring:scan base-package="com.lqq.dao" />

	<!-- 扫描组件 用于注册Service组件 -->
	<context:component-scan base-package="com.lqq.service.impl" />

	<!-- 扫描自定义校验 -->
	<context:component-scan base-package="com.lqq.validator" />
	<!-- 加载资源文件 用于数据连接信息配置 -->
	<context:property-placeholder location="classpath:jdbc.properties" />

	<!-- 配置C3p0 -->
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
		<property name="jdbcUrl" value="${jdbc_url}" />
		<property name="user" value="${jdbc_user}" />
		<property name="password" value="${jdbc_password}" />
		<property name="driverClass" value="${driverClass}" />
		<property name="minPoolSize" value="${minPoolSize}" />
		<property name="maxPoolSize" value="${maxPoolSize}" />
		<property name="acquireIncrement" value="${acquireIncrement}" />
		<property name="maxIdleTime" value="${maxIdleTime}" />
		<property name="initialPoolSize" value="${initialPoolSize}" />
	</bean>

	<!-- 配置SqlSessionFactory -->
	<bean id="sqlSessinFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-config.xml" />
	</bean>

	<!-- 配置JDB事务管理 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<!-- 开启注解事务管理 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>
