
#big {
	width: 1000px;
	margin: 0 auto;
	height:700px;
	background-color: #E4E9EC;
}

#header {
	width: 1000px;
	height: 100px;
	background-color:#455868;
	border: 1px dashed #D8DBDF;
}

#header_href {
	float: right;
	width: 500px;
	margin-top: 20px;
}

#header_href a {
	height: 35px;
	line-height:35px;
	display: block;
	text-decoration:none;
	text-align:center;
	background-color:#4D7ED9;
	color:white;
	float: right;
}
#header_href a:HOVER{
	background-color: #7496D6;
}
#home{
	width: 85;
	margin-right: 200px;
}
#logout{
	width: 100px;
	margin-right: 10px;
}

#header_notice {
	width: 800px;
	margin-top: 10px;
	float: right;
}

#user {
	width: 200px;
	height: 35px;
	line-height:35px;
	color:#999999;
	font-weight:bold;
	float: left;
}

#time {
	width: 300px;
	height: 35px;
	line-height:35px;
	color:white;
	font-weight:bold;
	float: right;
}

#content {
	width: 1000px;
}

#left {
	width: 300px;
	float: left;
	background-color:#3A3736;
	border: 1px dashed #D8DBDF;
}

.item {
	width: 300px;
}

.item_a {
	display: block;
	width: 300px;
	height: 30px;
	line-height:30px;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	color: white;
	text-decoration: none;
}
.item_a:HOVER{
	background-color: white;
	color:black;
}

.item_list {
	display: none;
}
.item_list_a{
	display:block;
	height:25px;
	line-height:25px;
	text-align:center;
	color:white;
	text-decoration: none;
}
.item_list_a:HOVER{
	background-color: #282626;
	border-radius: 10em;
}

.item_list ul {
	width: 100px;
	margin: 0 auto;
}
.item_list ul li{
	margin-top: 10px;
}

#right {
	width: 690px;
	float: right;
	border: 1px dashed #D8DBDF;
}
#right_title{
	margin-top: 5px;
	height:30px;
	font-weight:bolder;
	border: 1px dashed #D8DBDF;
}
#show_message{
	width: 690px;
	height:150px;
	margin-top:50px;
	text-align: center;
	font-size: 24px;
	font-weight: bolder;
}
#right_find{
	width: 650px;
	margin: 0 auto;
	margin-top: 20px;
	line-height:40px;
}
.find_item{
	width: 650px;
	height: 30px;
	margin-top: 5px;
}
.find_item label{
	display: block;
	width: 100px;
	height:20px;
	line-height:20px;
	text-align: center;
	float: left;
}

.find_item input{
	display: block;
	width: 200px;
	height: 20px;
	float: left;
}
.find_item select{
	display: block;
	width: 200px;
	height: 20px;
	float: left;
}
#find_submit{
	width:300px;
	margin: 10px auto;
}
#find_submit input{
	width: 300px;
	height:30px;
}


#right_table{
	width: 650px;
	margin: 0 auto;
	margin-top: 5px;
}

#right_table table{
	width:650px; 
}
	
#right_no_result{
	width: 200px;
	height:40px;
	margin:0 auto;
	margin-top: 10px;
	line-height: 40px;
}
#right_page{
	width: 380px;
	margin: 0 auto;
	margin-top: 5px;
}
#right_page a{
	display: block;
	width: 50px;
	height: 30px;
	border: 1px dashed #D8DBDF;
	float:left;
}
#right_add{
	width: 650px;
	margin:0 auto;
	margin-top: 20px;
}

.modify{
	width: 600px;
	margin:0 auto;
	display: none;
}
.add_item{
	width: 600px;
	height: 25px;
	margin-top: 10px;
}
.add_item label{
	display:block;
	width:100px;
	height: 25px;
	line-height: 25px;
	float:left;
}

.add_item input{
	display:block;
	width: 200px;
	height: 25px;
	float:left;
}
.add_item select{
	display:block;
	width: 200px;
	height: 25px;
	float:left;
}

.error{
	height: 25px;
	line-height: 25px;
	color: red;
	background-image:url("../image/error.png");
	background-repeat: no-repeat;
	padding-left: 20px;
	float:left;
}
.true{
	background-image:url("../image/true.png");
	background-repeat: no-repeat;
}
#add_submit{
	width: 180px;
	margin-top:10px;
	margin-left: 100px;
}
#add_submit input{
	width:80px;
	height: 25px;
}
.show_detail{
	width: 600px;
	display: none;
}
.show_detail .show_item{
	width: 550px;
	height:30px;
	margin: 5px auto;
	border: 1px dashed #c0c0c0;
}
.show_detail .show_item_label{
	width: 100px;
	height: 25px;
	line-height: 25px;
	float:left;
	
}
.show_item_content{
	width: 430px;
	height: 25px;
	line-height: 25px;
	float:right;
}



